* {
  font-family: 'Inter', sans-serif;
  color: white;
}

input[type=text]:focus {
  box-shadow: none;
  outline-width: 0px;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}